.news-tray__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear, visibility 0s .15s linear;
}

.news-tray__overlay_visible {
    visibility: visible;
    opacity: .5;
    transition: opacity .3s linear;
}