
.news-tray__container {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;

    height: calc(100% - 10px);

    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 -16px 24px rgba(34, 36, 38, .1);

    visibility: hidden;
    transform: translateY(100%);

    transition: transform .15s cubic-bezier(.42, 0, 1, 1), visibility 0s .15s;
}

.news-tray_with_header .news-tray__container {
    visibility: visible;

    transform: translateY(calc(100% - 52px));
}

.news-tray_open .news-tray__container {
    top: 10px;

    height: auto;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    box-shadow: none;

    visibility: visible;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.42, 0, 1, 1);
}

.news-tray__header {
    position: absolute;
    z-index: 1;

    top: 0;
    right: 0;
    left: 0;

    height: 52px;
    transition: visibility 0s .15s;
    background-color: #fff;
}

.news-tray_open .news-tray__header {
    visibility: hidden;

    transition: none;
}

.news-tray__close {
    flex-shrink: 0;

    height: 36px;

    background: url(i/close.svg) center no-repeat;

    outline: none;
    border: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.news-tray__content {
    overflow: auto;

    padding: 0 10px-s;
    -webkit-overflow-scrolling: touch;
}

.news-tray__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s linear, visibility 0s .15s;
}

.news-tray_open .news-tray__overlay {
    visibility: visible;
    opacity: .5;
    transition: opacity .3s linear;
}

.page_tray_open {
    position: fixed;

    width: 100%;
    height: 100%;
}